header {
  height: 10vh;
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 5em;
  background-color: #ff7b41;
  color: #ffffff;
  border: 1px solid #735a8b;
}

p {
  font-family: 'Lexend Deca', sans-serif;
}

a {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  color: #7b2010;
  text-decoration: none;
}

#pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 200px;
  border: 1px solid #735a8b;
  border-radius: 5px;
  background-color: #dedef6;
  padding: 5px;
}

#image-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

#image-container img {
  height: 100%;
  object-fit: contain;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;

}

ul {
  margin-top: 15vh;
}
